.quasar
.DS_Store
.thumbs.db
node_modules
/dist
/src-cordova
/src-capacitor
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
src/basic
src/boot/firebase.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

#for webstorm jumping
fake.webpack.config.js
